In [7]:
a=10
b=8
if a>b:
    pass

In [13]:
k=7
s=8
if k==b:
    print('yes')
else:
    print('no')

no

In [25]:
a=('one','two','three')
for x in a:
    print(x)
    if x=='two':
        break

one
two

In [20]:
for x in 'three':
    print(x)

t
h
r
e
e

In [35]:
for x in range(2,20,3):
    print(x)

2
5
8
11
14
17

In [36]:
num=('1','2','3')
name=('kalai','barru','dine')
for a in num:
    for b in name:
        print(a,b)

1 kalai
1 barru
1 dine
2 kalai
2 barru
2 dine
3 kalai
3 barru
3 dine

In [37]:
def name(mine):
    print(mine)
name('kalai')

kalai

In [40]:
def name(my,name):
    print(my+name)
name('kalai','yarasi')

kalaiyarasi

In [46]:
def fruit(name1,name2):
    print(name1+' '+name2)
fruit('cherry','apple')

cherry apple

In [47]:
def sum(a,b):
    print(a+b)
sum(7,8)

15

In [50]:
l=[1,2,3,4,5,6]
for i in l:
    print(i)

1
2
3
4
5
6

In [52]:
l=[1,2,3,4,5,6]
for i in l:
    if i<5:
        print(i)

1
2
3
4

In [55]:
l=[1,2,3,4,5,6]
l1=[]
for i in l:
    if i<5:
        l1.append(i)
print(l1)

[1, 2, 3, 4]

In [59]:
l=[1,2,3,4,5,6,7,8,9,10]
l1=[i for i in l if i<10]
print(l1)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [1]:
import os
os.getcwd()

'/Users/kalaiyarasigembeeran'

In [3]:
a=open('new.txt','w')
a.write('kalai')

5

In [6]:
a=open('new.txt','r')
a.read()

'kalai'

In [10]:
a.close()

In [9]:
try:
    print('hey')
except:
    print('bye')
else:
    print('hii')
finally:
    print('kalai')

hey
hii
kalai

In [12]:
try:
    print(z)
except:
    print('bye')

bye

In [15]:
k=7 #global variable
def sum():
    print(k)
sum()

7

In [19]:
k=7 #global variable
def sum():
    global k
    k=k+1
    print(k)
sum()

8

In [22]:
def loc(): #local variable
    k='dine'
    print(k)
loc()

dine

In [27]:
def add(a=7,b=8): #parameters
    return a+b
add(3)

11

In [25]:
def add(a=7,b=8):
    return a+b
add(b=2)

9

In [28]:
a=[1,2,3,4,5]
def sum(a):
    for i in a:
        print(i)
sum(a)

1
2
3
4
5

In [29]:
def sum(*a):
    print(a)
sum(1,2,3)

(1, 2, 3)

In [3]:
import pandas as pd
print("products are: banana_pid=12,apple-24,orange-36,milk-2bread-5,egg-61,potato-55,dhal-102,candy-91,juice-88")
header=['PID','CID','Orderid','Quantity','Amount']
arr=pd.DataFrame(columns=header)
pid=[12,24,36,2,5,61,55,102,91,88]
amount=[10,40,20,50,160,80,30,20,100,200]
cid=1
for _ in range(10):
    oid=1
for i in range(10):
    p=pid[i]
    q=int(input("enter quantity:"))
    amount=amount[i]*q
    arr1=pd.DataFrame(data=[[p,cid,oid,q,a]],columns=header)
    arr1=pd.concat([arr,arr1])
    oid+=1
    cid+=1
    arr=arr.reset_index(drop=True)
    arr.to_csv("test2.csv",index=False)

products are: banana_pid=12,apple-24,orange-36,milk-2bread-5,egg-61,potato-55,dhal-102,candy-91,juice-88

KeyboardInterrupt: Interrupted by user

In [5]:
import sqlite3

from sqlite3 import Error


def sql_connection():
    try:
        conn = sqlite3.connect('mydatabase.db')
        return conn
    except Error:
        print(Error)


def sql_table(conn):
    cursorObj = conn.cursor()

    conn.commit()
    cursorObj.execute("SELECT * FROM order1 where AMOUNT>100")
    rows = cursorObj.fetchall()
    print("Agent details:")
    for row in rows:
        print(row)

    cursorObj.execute("select count(*), sum(AMOUNT) from order1;")
    rows = cursorObj.fetchall()
    print("Agent details:")
    for row in rows:
        print(row)

    cursorObj.execute("select count(ORDER_ID), PRODUCT_ID from ORDER1 group by PRODUCT_ID;")
    rows = cursorObj.fetchall()
    print("Agent details:")
    for row in rows:
        print(row)


sqllite_conn = sql_connection()
sql_table(sqllite_conn)
if (sqllite_conn):
    sqllite_conn.close()
    print("\nThe SQLite connection is closed.")

OperationalError: no such table: order1