In [2]:
import pandas as pd
df=pd.read_csv("/Users/kalaiyarasigembeeran/Downloads/Agilisium.csv",header=None)

df

,0,1,2,3,4
0,Agilisium Consulting LLC,2629 Townsgate Rd Suite 235,Westlake Village,CA,91361
1,Agilisium Consulting India Private Limited,5/142 Rajiv Gandhi Salai Perungudi,Chennai,TN,600096

In [4]:
a=pd.read_csv("/Users/kalaiyarasigembeeran/Downloads/Agilisium.csv",header=None)
a

,0,1,2,3,4
0,Agilisium Consulting LLC,2629 Townsgate Rd Suite 235,Westlake Village,CA,91361
1,Agilisium Consulting India Private Limited,5/142 Rajiv Gandhi Salai Perungudi,Chennai,TN,600096

In [11]:
a=pd.read_csv("/Users/kalaiyarasigembeeran/Downloads/Agilisium.csv", sep=',',header=None)
Frame=pd.DataFrame(a.values, columns=["CompanyName","StreetName","City","State","Pincode"])
Frame

,CompanyName,StreetName,City,State,Pincode
0,Agilisium Consulting LLC,2629 Townsgate Rd Suite 235,Westlake Village,CA,91361
1,Agilisium Consulting India Private Limited,5/142 Rajiv Gandhi Salai Perungudi,Chennai,TN,600096